/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
font-family: "Open Sans", sans-serif;
}


/*******  Header Styling *******/

#nav_bar {
	border: 1px solid black;
	background-color: #d8d8d8;
	display: flex;
	height: 75px;
	justify-content: space-between;
}

#nav_links {
	align-items: center;
	display: flex;

}

#logo {
	color: #74777e;
	font-size: 28px;
	padding: 22px 0px 0px 15px;
}

.nav_buttons {

	background-color: #fff;
	border: 1px solid black;
	border-radius: 5px;
	color: gray;
	font-size: 18px;
	margin: 15px;
	padding: 8px 30px;
}

/******* Event_list Styling *******/

#main_content {
display: flex;
justify-content: space-around;
margin: 40px auto;
}

.each_container {
	border: 1px solid black;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: space-between;
	margin: 10px 20px;
	border-radius: 5px;
	flex-basis: 40%;
}

.event_details {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 20px;
}

.event_details h2 {
	margin-bottom: 35px;
	font-size: 24px;
	font-weight: bold;
	flex: 1 1 90%;
}

.event_buttons {
	border: 1px solid black;
	padding: 20px 5px;
	text-align: center;
}

.event_buttons:first-child {
	background-color: #7ed320;
}

.event_buttons:nth-child(2) {
	background-color: #4990e2;
	color: white;
}

/******* Event View Styling *******/
#eventBody{
	display: flex;
	flex-flow: row nowrap;
	padding: 40px;
	padding-top: 60px;
}

#leftContainer{
	border-right: 2px solid grey;
	flex: 1 1 60%;
	padding: 0 20px 20px 20px;
}

#evtvwDetails{
	margin-right: 55px;
}

#rightContainer{
	flex: 1 1 40%;
	padding: 20px;
	padding-top: 20px;
	text-align: center;
}

h1{
	font-size: 3em;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}

h4{
	font-size: 1.5em;
	font-weight: 700;
}

p{
	font-style: italic;
	margin: 20px 20px 20px 30px;
}

ul{
	margin-top: 30px;
}

li{
	border: 1px solid grey;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	margin: 20px;
	margin-left: 60px;
	padding: 20px;
	font-style: italic;
	text-align: left;
}

/******************************************
	Login and Sign Up page styles
*******************************************/
#loginContainer * {
  color: #666;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#loginContainer h1 {
  flex: 1 100%;
  font-size: 3em;
  font-weight: 800;
  margin: 50px 0 0;
  text-align: center;
}
#loginContainer h3 {
  flex: 1 100%;
  font-size: 1em;
  font-weight: 800;
  margin: 0 0 80px;
  text-align: center;
}
#loginContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px auto;
  max-width: 450px;
  width: 92%;
}
#loginContainer form {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}
#loginContainer input {
  border: 1px solid #666;
  border-radius: 3px;
  font-size: 1em;
  margin: 10px 0;
  padding: 10px 20px;
}
#loginContainer button {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px auto;
  order: 2;
  padding: 10px;
  text-align: center;
  width: 40%;
}
#loginContainer .active {
  background: #7ED320;
  border-color: #3e6a10;
  order: 1;
  width: 80%;
}
