<!DOCTYPE html>
<html>
	<head>
		<title>Event RSVP</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<link rel="stylesheet" href="../main.css" type="text/css"/>
	</head>
	<body>
		<header id="nav_bar">

		</header>
    <main id="eventBody">
      <article id="leftContainer">

			</article>
      <aside id="rightContainer">

			</aside>
    </main>
		<script src="../js/sampleData.js"></script>
		<script src="../main.js"></script>
		<script src="../js/eventview.js"></script>
	</body>
</html>
