<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>
    <section id="loginContainer">
      <h1>Iron Meetups!</h1>
      <h3>Please Sign Up!</h3>

      <form class="" action="" method="get">

        <input type="text" name="" value="" placeholder="Username">
        <input type="text" name="" value="" placeholder="Password">
        <input type="text" name="" value="" placeholder="Confirm Password">
        <button id="signUp" class="active" type="button" name="signUp">Sign Up!</button>
        <button id="login" class="" type="button" name="login">Login</button>
      </form>

    </section>
  </body>
</html>
